* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #222;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.logo {
  font-size: 60px;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 20px;

  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.welcome {
  font-size: 18px;
  margin-bottom: 25px;
}

.balance-box {
  background: #f1f5f9;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.balance-label {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}

.balance-box h2 {
  font-size: 30px;
}

button {
  width: 100%;
  padding: 16px;

  border: none;
  border-radius: 12px;

  background: #111111;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}
